main {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 45rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 1rem;
  padding: 2rem 2.5rem;
}

.MuiFormControl-root {
  width: 100%;
}

th {
  background-color: #D97706;
  color: white;
}
