* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #d1e3dd;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #393d3f;
  height: 100%;
}

@import './home';
